[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
aws-lambda-powertools = {extras = ["all"], version = ">=2.7.1"}

[requires]
python_version = "3.9"
